


//COLORES
$clr_btn: #00F3BB;
$clr_btn_1:#2cf6b8;
$clr_btn_2: linear-gradient(342deg, rgba(22,19,77,1) 9%, rgba(18,11,152,1) 29%, rgba(0,255,182,1) 69%, rgba(14,159,152,1) 81%, rgba(7,73,70,1) 97%);
$clr_nav:  #0000FE;
$clr_blanco:#fff;
$clr_negro: #000;
$clr_hover: #088566;
$clr_mobile:linear-gradient(342deg, rgba(22,19,77,1) 9%, rgba(11,152,136,1) 29%, rgba(0,255,182,1) 69%, rgba(14,159,152,1) 81%, rgba(7,73,70,1) 97%); 

//FUENTES
$fuenteTitulo: 'IBM Plex Sans', sans-serif; 
$fuenteTexto: 'IBM Plex Mono', monospace;


//RESPONSIVE
$telefono: 400px;
$tablet: 768px;
$desktop:1200px;

//TAMAÑO FUENTES
$regular:400;
$semi-bold:600;
$light:300;
$bold:700;

//separacion
