@import "../modules/variables";
@import "../modules/mixins";
@import "../modules/globales";



.galeria {
    margin-bottom: 5rem;
    @include telefono{
    margin: 2rem auto;
        max-width: 100%;

    }
    
    @include tablet {
        @include grid(3, 0, 2);
        cursor: pointer;
    }
    .arte {
        transition: transform 1s;

        &:hover{
            transform: translateY(-15px);
        }
        img{
            margin: 0;
            padding: 0;
            max-width: 100%;
        }
    }


}





