    @import "../modules/variables";
@import "../modules/mixins";
@import "../modules/globales";


.flex-phone {
    @include telefono{
        display: flex;
        flex-direction: column-reverse;
    }

    @include tablet{
        flex-direction: row-reverse;
        flex: 0 0 calc(33.3% - 2rem);

        
    }
    .phone{
        position: relative;
        z-index:100;
        order: 2;
    }
    .sidebar{
        display: flex;
        flex-direction:column;
        justify-content: center;

        h2{
            align-items: flex-end;
        }
        
        p{
            line-height: 3rem;
        }

    }
}
